Appathon_CTGOV-01.json
[{"id":"eba88db6.543098","type":"tab","label":"CTGOV-01","disabled":false,"info":""},{"id":"c0d4e518.440778","type":"inject","z":"eba88db6.543098","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Init","payloadType":"str","x":90,"y":80,"wires":[["19eae882.45799f"]]},{"id":"19eae882.45799f","type":"file in","z":"eba88db6.543098","name":"","filename":"/home/papaspiliopoulos/Downloads/SearchResults.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":80,"wires":[["9d661a58.0e074"]]},{"id":"9d661a58.0e074","type":"xml","z":"eba88db6.543098","name":"","property":"payload","attr":"","chr":"","x":630,"y":80,"wires":[["433c7127.302528"]]},{"id":"433c7127.302528","type":"change","z":"eba88db6.543098","name":"","rules":[{"t":"set","p":"studydata","pt":"flow","to":"payload.search_results.study","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[[]]},{"id":"1c1d6147.2ddf8f","type":"change","z":"eba88db6.543098","name":"","rules":[{"t":"set","p":"studydata","pt":"msg","to":"studydata","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["a9119e2.7d738e"]]},{"id":"a9119e2.7d738e","type":"function","z":"eba88db6.543098","name":"Disease Search","func":"var findWhat = msg.disease.toLowerCase();\nvar data = msg.studydata;\nmsg.payload = data.filter(e => {\n    try {\n        var conditions = e.conditions[0].condition;\n        var found = conditions.some(e => {\n            return (e && e.length) ? e.toLowerCase().includes(findWhat) : false\n        })\n        return found;\n    } catch {\n    }\n    return null;\n});\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["7585a715.af02c8"]]},{"id":"389d7706.ec1ee8","type":"comment","z":"eba88db6.543098","name":"3. Perform the search when a request arrives","info":"","x":190,"y":200,"wires":[]},{"id":"e4e942c5.a16e38","type":"debug","z":"eba88db6.543098","name":"Result of Search","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":280,"wires":[]},{"id":"3ec8d1bb.fee20e","type":"debug","z":"eba88db6.543098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"disease","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"d08061fe.9439f","type":"http response","z":"eba88db6.543098","name":"","statusCode":"","headers":{},"x":1170,"y":280,"wires":[]},{"id":"465f8360.3b149c","type":"comment","z":"eba88db6.543098","name":"1. Initiate a database in the flow context from an xml file","info":"","x":220,"y":40,"wires":[]},{"id":"74c71ed3.889418","type":"function","z":"eba88db6.543098","name":"","func":"msg.disease = msg.payload.disease\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["1c1d6147.2ddf8f","3ec8d1bb.fee20e"]]},{"id":"7585a715.af02c8","type":"switch","z":"eba88db6.543098","name":"Evaluation of Search Proccess","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["f9b3a49a.d79e48","ff628c3.df0347"],["cdd2965e.2d215"]]},{"id":"cdd2965e.2d215","type":"function","z":"eba88db6.543098","name":"","func":"msg.payload = \"Disease not found in our DataBase, Please try again with another disease!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["e4e942c5.a16e38","d08061fe.9439f"]]},{"id":"f9b3a49a.d79e48","type":"function","z":"eba88db6.543098","name":"","func":"function secondsToDhms(seconds) {\nseconds = Number(seconds);\nvar d = Math.floor(seconds / (3600*24));\nvar h = Math.floor(seconds % (3600*24) / 3600);\nvar m = Math.floor(seconds % 3600 / 60);\nvar s = Math.floor(seconds % 60);\n\nvar dDisplay = d > 0 ? d + (d == 1 ? \" day \" : \" days \") : \"\";\nvar hDisplay = h > 0 ? h + (h == 1 ? \" hour \" : \" hours \") : \"\";\nvar mDisplay = m > 0 ? m + (m == 1 ? \" minute \" : \" minutes \") : \"\";\nvar sDisplay = s > 0 ? s + (s == 1 ? \" second \" : \" seconds \") : \"\";\nreturn dDisplay + hDisplay + mDisplay + sDisplay + \"per Person\";\n}\nvar temp = [];\nfor(var i = 0;i < msg.payload.length;i++){\n    var title = msg.payload[i].title[0];\n    var enrollment = msg.payload[i].enrollment[0];\n    var start_date = Date.parse(msg.payload[i].start_date[0])/1000;\n    var last_updated = Date.parse(msg.payload[i].last_update_posted[0])/1000;\n    var total_time = last_updated - start_date;\n    var recruit = Math.floor(total_time/enrollment);\n    if(recruit <= 0){\n        temp[i] = [title, enrollment + \" People\", \"Not yet Started\"];    \n    }else{\n        temp[i] = [title, enrollment + \" People\", secondsToDhms(recruit)];\n    }\n}\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":240,"wires":[["e4e942c5.a16e38","d08061fe.9439f"]]},{"id":"ff628c3.df0347","type":"debug","z":"eba88db6.543098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"a29939e2.949b38","type":"template","z":"eba88db6.543098","name":"VueJS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n<head>\n    <style>\n    table, th, td {\n    border: 1px solid black;\n    }\n    </style>\n    <meta charset=\"UTF-8\">\n    <title>Appathon</title>\n</head>\n<body>\n    <div id=\"container\">\n        <h2>Appathon site</h2>\n        <h3>Disease Request Form</h3>\n        <input type=\"text\" id=\"container\" placeholder=\"Enter Disease\" v-model=\"form.disease\">\n        <button @click=\"onSubmit()\">Submit</button>\n        <h4>Results</h4>\n        <table style=\"width: 100%;\">\n            <thead>\n                <tr>\n                    <th>Title of Clinical Trial</th>\n                    <th>Enrolment</th> \n                    <th>Average Recruitment Time</th>\n                </tr>\n            </thead>\n            <tbody></tbody>\n        </table>\n        <p>{{ value }}</p>\n    \n    </div>\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js\"></script>\n    <script>\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    title:'Your answer will appear here.',\n                    value: ' ',\n                    form: {\n                        disease: ''\n                    }\n                }\n            },\n            methods: {\n                onSubmit() {\n                    console.log('onSubmit this.form', this.form);\n                    axios.post('/appathon/post', this.form).then(res => {\n                        console.log('post res', res.data)\n                        this.value = res.data;\n                    });\n                }\n                \n            },\n            mounted() {\n                axios.post('/appathon/data').then(res => {\n                    this.serverMsg = res.data;\n                })\n            }\n        });\n    </script>\n</body>\n</html>","output":"str","x":250,"y":160,"wires":[["4d2b9abd.19285c"]]},{"id":"df75ba5d.dac24","type":"http in","z":"eba88db6.543098","name":"","url":"/appathon","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["a29939e2.949b38"]]},{"id":"4d2b9abd.19285c","type":"http response","z":"eba88db6.543098","name":"","statusCode":"","headers":{},"x":370,"y":160,"wires":[]},{"id":"a7e2ccf1.3071a8","type":"http in","z":"eba88db6.543098","name":"","url":"/appathon/post","method":"post","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["74c71ed3.889418"]]},{"id":"522a1b7.8c40d64","type":"comment","z":"eba88db6.543098","name":"2.Appathon app with VueJS","info":"","x":140,"y":120,"wires":[]},{"id":"120a1b77.31a4b5","type":"http in","z":"eba88db6.543098","name":"","url":"/appathon/data","method":"post","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["1ef021b6.2ee6ee"]]},{"id":"1ef021b6.2ee6ee","type":"http response","z":"eba88db6.543098","name":"","statusCode":"","headers":{},"x":290,"y":440,"wires":[]},{"id":"a89c0f26.94336","type":"comment","z":"eba88db6.543098","name":"4. Send Results back","info":"","x":120,"y":400,"wires":[]}]